body {
  /*background: linear-gradient(135deg, #6c63ff, #3b3a40);
  background-size: cover;*/
  color: #f0f0f0;
  font-family: 'Agdasima', sans-serif;
  margin: 0;
  padding: 0;
  position:relative;
  border: 0;
  overflow-x: hidden;
}

html {
scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  color: #fbe2ff;
  padding: 20px;
  font-size: 2.5rem;
  font-family: 'Cactus Classical Serif';
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


nav {
  position: fixed;
  right: 10px;
  top: 100px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  width: 220px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav ul li {
  margin-bottom: 15px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Mono';
  padding: 12px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(168, 148, 224, 0.8);
  color: #fff;
}

nav ul li ul {
             

  max-height: 0; 
  overflow: hidden; /* hide content */
  transition: max-height 0.5s ease-out; /* Transi */
  background-color: rgb(28, 21, 46);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
nav ul li ul li {
  margin: 0;
}
nav ul li:hover ul {
  display: block;
  position: static;
  max-height: 300px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 12px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.search-bar button {
  padding: 11px;
  background-color: rgba(168, 148, 224, 0.8);
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-bar button:hover {
  background-color: #91498a;
}




.shrink {
  transform: scale(0.5); /* Réduit la taille du cercle à 50% */
  background-color: green; /* Change la couleur du cercle */
}

.cursor-buble{
  z-index: 1100;
  pointer-events: none;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  transition: background-color 100s;
}
.cursor-buble.active {

transition: transform 0.3s;
transform: scale(0.2);
}
.cursor-buble.disactive {

transition: transform 0.3s;
transform: scale(1);
}


main {
margin: 0 auto;
padding: 40px;
max-width: 1000px;
max-height: auto;
text-align: justify;
background: rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(5px);
}

@font-face { font-family: Bebas Neue; 
  src: url('font/Bebas_Neue/BebasNeue-Regular.ttf'); } 


.hero {
font-family: 'Bebas Neue';
  
font-size: 60px;
color: #edd7f5;

}
.hero .content {
  text-align: center;
}
.hero .content svg {
margin-bottom: -9rem;
}


.hero .content svg text {
text-transform: uppercase;
font-weight: bold;
font-size: 150px;
animation: stroke 5s infinite alternate;

}

@keyframes stroke {
0% {
  stroke: white;
  stroke-width: 0;
  stroke-dashoffset: 25%;
  stroke-dasharray: 0 50%;
}
70% {
  stroke: rgb(234, 208, 255);
}
80% {
  stroke: rgb(209, 154, 255);
  stroke-width: 3;
}
100% {
  stroke: rgb(178, 85, 255);
  stroke-width: 0;
  stroke-dashoffset: -25%;
  stroke-dasharray: 50% 0;
}
}

img, video {
max-width: 100%;
height: auto;
}


h1 {
  font-family: 'Bebas Neue';
  
  font-size: 60px;
  
  color: #edd7f5;
}



h2 {
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 30px;
}

aside {
margin:-5%;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  /*color: rgb(37, 16, 56);*/
  color:white;
  background: none;
}

.section {

font-size: 1.5em;
background-size: cover;
background-position: center;
  
}

#section1 {
position: relative; /* Nécessaire pour superposer le contenu au-dessus de la vidéo */
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 20px;
overflow: hidden;
}

#background-video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; /* Couvre la section sans déformation */
z-index: -1; /* Place la vidéo derrière le contenu */
}


#section2 {
  padding-top: 100px;
  background: rgb(2,0,36);
background: linear-gradient(186deg, rgba(2,0,36,1) 0%, rgba(22,22,130,1) 82%, rgba(173,76,205,1) 100%);
position: relative;
}
#section2::before {
content: '';
position: absolute;
top: 0; /* Placer l'effet de fondu en haut */
left: 0;
width: 100%;
height: 100px; /* Hauteur du fondu (ajuste selon tes préférences) */
background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.8)); /* Fondu sombre vers le haut */
}
#section2::after {
content: '';
position: absolute;
bottom: 0; /* Placer l'effet de fondu en bas */
left: 0;
width: 100%;
height: 100px; /* Hauteur du fondu (ajuste selon tes préférences) */
background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)); /* Fondu sombre */
}


#section3 {
  /*background: url('images/BG_site_accueil4.png') no-repeat center center/cover;*/
  background: url('images/Cloud_bg3.jpg') no-repeat center center/cover;
  min-height: 120vh;
  display: flex;
  flex-direction: row;    
}
#section4 {

position: relative; /* Nécessaire pour superposer le contenu au-dessus de la vidéo */
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 20px;
overflow: hidden;
}
#section3::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 20px; /* L'épaisseur du fondu */
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent); /* Le dégradé du fondu */
z-index: 0; /* Pour s'assurer que le dégradé se place au-dessus de la vidéo */
}

.info-section {
  
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;

  
}

.info-card {
  width: 300px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
  cursor: pointer;
  
}



  
@keyframes fadeIn {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  
  
#text {
      opacity: 0;
      transform: translateY(20px);
  }

.info-card:hover {
  transform: scale(1.05);
  background: rgba(168, 148, 224, 0.8);
}


/* From Uiverse.io by samuelfcosta18 thx*/ 
section.card {
  
  display: flex;
  
  position: relative;
  width: 17%;
  height: 8%;
  background-color: #771d9b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card svg {
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  background-color: #771d9b;
  color: #ffffff;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #6c0f91bd;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}
/* Commands to change the shadows in dark mode
@media (prefers-color-scheme: dark) {
  .card:hover {
  box-shadow: 0 8px 16px #000000;
  }
}*/



#card1 {

  margin-left: 15%;
  margin-top: 5%;
  float:left;

}

#card2 {

  
  margin-top: 11%;
  margin-left: -3%;
  float:left;

}

#card3 {

  margin-top: 5%;
  margin-left: 8%;
  float:left;

}

#card4 {

  margin-bottom: 15%;
  margin-top: 11%;
  margin-left: 15%;
  float:center;
}




.container-checkbox{
display: flex;
}
#checkbox,
#checkbox2,
#checkbox3 {
display: none;
}

.toggle {
position: relative;
width: 40px;
height: 40px;
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
transition-duration: .5s;
}

.bars {
width: 100%;
height: 4px;
background-color: rgb(176, 92, 255);
border-radius: 4px;
}

#bar2 {
transition-duration: .8s;
}

#bar1,#bar3 {
width: 70%;
}


#checkbox:checked + .toggle .bars,
#checkbox2:checked + .toggle .bars,
#checkbox3:checked + .toggle .bars{
position: absolute;
transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2,
#checkbox2:checked + .toggle #bar2,
#checkbox3:checked + .toggle #bar2 {
transform: scaleX(0);
transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1,
#checkbox2:checked + .toggle #bar1,
#checkbox3:checked + .toggle #bar1 {
width: 100%;
transform: rotate(45deg);
transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3,
#checkbox2:checked + .toggle #bar3,
#checkbox3:checked + .toggle #bar3 {
width: 100%;
transform: rotate(-45deg);
transition-duration: .5s;
}

#checkbox:checked + .toggle,
#checkbox2:checked + .toggle,
#checkbox3:checked + .toggle {
transition-duration: .5s;
transform: rotate(180deg);

}

#checkbox:checked ~ .card-selection,
#checkbox2:checked ~ .card-selection,
#checkbox3:checked ~ .card-selection  {
display: block;
}
#checkbox:checked ~ .card-selection h2,
#checkbox2:checked ~ .card-selection h2,
#checkbox3:checked ~ .card-selection h2{
display: block;
}


@keyframes slide-bottom {
0% {
  transform: translateY(0);
}
100% {
  transform: translateY(100px);
}
}

#section3 {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Ajoute un peu d'espace entre les deux blocs */
  align-items: center; /* Aligne les éléments au même niveau en haut */
}


.aboutme-container {
width: 40%;
max-width: 50%;
margin-left: 5%;

}
.right-container {
  margin: 5%;
  width: 35%; /* Ajuste la largeur à ta convenance */
  display: flex;
  flex-direction: column; /* Met les cards en colonne */
  gap: 20px; /* Espacement entre les cards */
  align-items: center; /* Centre le contenu horizontalement */
  
}

.right-container h2 {
  text-align: center; /* Centre le texte */
  width: 100%;
  display: flex;
  justify-content: center; /* Ajoute un vrai centrage */
}

/* Style de base des cartes */
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.cards .card {
  width: 100%;
  height: auto;
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  border-radius: 10px;
  cursor: pointer;
  transition: 400ms;
  padding: 20px;
  display: flex;
  align-items: center; /* Centre bien le contenu */
  flex-direction: column; /* En colonne par défaut */
}

/* Contenu structuré (image à gauche, texte à droite) */
.news-card-content {
  display: flex; /* Met en ligne */
  align-items: center; /* Centre verticalement */
  width: 100%;
}

/* Image */
.news-image-container {
  flex: 0 0 120px; /* Taille fixe */
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-image-container img {
  width: 100%;
  height: auto; /* Permet à l'image de garder ses proportions */
  max-height: 100px; /* Fixe une hauteur max */
  object-fit: contain; /* Ajuste l’image pour qu’elle ne soit pas coupée */
  border-radius: 8px;
}

/* Texte */
.news-text-container {
  flex-grow: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.card p {
  font-size: 1em;
}

/* Effets hover */
.cards .card:hover {
  transform: scale(1.05);
}

.cards:hover > .card:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
}


/* Style des couleurs de fond pour chaque card */


/* Animation avant sur les cards */
.card::before {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  top: 20%;
}



.aboutme-question {

justify-content: space-between;

}
.aboutme-question p{
font-size: 2em;


}

.aboutme-item {
position: relative;

}

.card-select-checkbox {
background-color: #000;
color: #fff;
padding: 20px;
border-radius: 8px;
margin-bottom: 20px;
overflow: hidden;
}

.aboutme-block-text {
  margin: 10% 5% 0% 5%; /* Marges autour du bloc */
  width: 100%; /* Prend tout l'espace restant */
  height: auto; /* Hauteur automatique */
  padding-bottom: 200px;
  background-image: linear-gradient(180deg, #361244, #694f75); /* Dégradé de fond */
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  padding: 15px 5% 15px 5%;
  
}


.hidden-content {
display: none;  /* Masquer le contenu par défaut */
justify-content: space-between;
align-items: center;
gap: 20px;
opacity: 0;
animation: showContent 5s ease-out forwards;
}

.hidden-content img {
width: 250px;
height: auto;
border-radius: 10px;
opacity: 0;
animation: showImage 5s ease-out forwards;
animation-delay: 4s;
}

.hidden-content .text {
display: flex;
flex-direction: column;
gap: 10px;
opacity: 0;
visibility: hidden;
animation: showText 2s ease-out forwards;
animation-delay: 7s;
}

@keyframes showContent {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@keyframes showImage {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@keyframes showText {
0% {
  opacity: 0;
  visibility: hidden;
}
100% {
  opacity: 1;
  visibility: visible;
}
}

.hidden-content .text h2,
.hidden-content .text span {
font-size: 2rem;
color: white;
}


.aboutme-block-text.animated .hidden-content {
display: flex;
opacity: 1;
}
.aboutme-block-text.animated span {
display: none; /* Supprime les lettres après l'animation */
}

/* Animation pour agrandir la taille */
@keyframes growFont {
0% {
  transform: scale(1); /* Taille initiale */
  opacity: 0;
}
12% {
  opacity: 1;
}
25% {
  transform: scale(1.5); /* Taille finale */
  opacity: 1;
}
37% {
  transform: scale(1); /* Taille finale */
  opacity: 1;
}
50%{
  opacity: 0;
}
65%{
  opacity: 1;
  transform: scale(1.2);
}
85%{
  transform: scale(1);
  opacity: 1;
}
100%{
  transform:translate(100px,-100px)
  
}

}
/*
@keyframes scale-content{
0% {
  width: auto;
  height: auto;
}
100% {
   
  width: 30%;  Taille initiale du conteneur 
  height: 50%;
}

}
*/





.card-selection {

z-index: 10;
width: auto;
height: 200px;
background: #07182E;
position: relative;
display: flex;
place-content: left;
place-items: left;
overflow: hidden;
border-radius: 20px;
display: none;
max-height: fit-content;
padding-left: 10px;
}

.card-selection h2 {
z-index: 20;
color: white;
font-size: 2em;


}
.card-selection p {
z-index: 20;
color: white;
font-size: 1rem;


}

.slide-up-left {
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
}

.animate-pop-up-bottom {
animation: animate-pop-up-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

#container {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: right;
  margin-left: 0px;
  font-family: 'Bebas Neue';
  position: relative;
}
#moving-text {
  font-size: 50px;
  position: absolute;
  transition: transform 0.1s ease-out;
}


/*https://animista.net/play/basic/slide/slide-top*/

@keyframes slide-in-top {
0% {
  transform: translateY(-50px);
  opacity: 0;
}
100% {
  transform: translateY(0);
  opacity: 1;
}
}

@keyframes slide-in-bottom {
0% {
  transform: translateY(0);
  display: block;
  opacity: 1;
}
100% {
  transform: translateY(-50px);
  transition: all 0.3s ease;
  opacity: 0;
  display: none;
}
}


@keyframes slide-top {
0% {
  transform: translateY(0);
}
100% {
  transform: translateY(-20px);
}
}
/* scale up*/
.scale-down-to-up {
  animation: scale-up-ver-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-ver-bottom {
0% {
  transform: scaleY(0.6);
  transform-origin: 0% 100%;
}
100% {
  transform: scaleY(1);
  transform-origin: 0% 100%;
}
}


/* Styles pour les écrans plus petits (téléphones) */
@media (max-width: 768px) {
header {
    font-size: 1.5rem;
    padding: 10px;
}

nav {
    width: 100%;
    position: static;
    padding: 10px;
    text-align: center;
}

nav ul {
    flex-direction: column;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    padding: 10px;
    font-size: 14px;
}

.search-bar {
    flex-direction: column;
}

main {
    padding: 20px;
    max-width: 100%;
}

.info-section {
    flex-direction: column;
    gap: 10px;
}

.info-card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.card {
    width: 90%;
    margin: 10px auto;
}

#moving-text {
    font-size: 20px;
}

footer {
    font-size: 0.8em;
}
}
